* {
  margin: 0;
  padding: 0;
}
body {
  background-color: pink;
}

.turn {
  text-align: center;
  width: 100%;
  height: 20px;
  padding-top: 20px;
}
.players {
  margin-top: 10vh;
}
.board {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
  gap: 5px;
}

.board button {
  color: white;
  font-size: 30px;
}

.players {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  gap: 10px;
}

.start-reset {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.start,
.reset {
  padding: 8px 30px;
  border-radius: 10px;
  border-style: none;
}

input {
  height: 20px;
  border-radius: 8px;
  border-style: none;
}

.result {
  text-align: center;
  margin-top: 20px;
  height: 30px;
  font-size: 20px;
}
